@charset "UTF-8";
/*기본색*/
:root {
  --main-color:#053C80;
  --accent-color: #043066;
  --dark-color: #031E40;
  --text-bright-color: #fff;
  --large-width: 1000px;
  --middle-width: 800px;
}
/*기본 설정: 폰트크기*/
@media (max-width: 599px) {
  :root {font-size: 14px}
}
@media (min-width: 600px) and (max-width: 799px) {
  :root {font-size: 16px}
}
@media (min-width: 800px) {
  :root {font-size: 18px}
}
body {font-size: 16px}
/*기본 설정: 페이지 전체*/
body {
  margin:0;
  font-family: 'Song Myung','Noto Sans KR', 'Do Hyeon', sans-serif;
}


@media (min-width:768px) {
  .conA h1{font-size: 115px;}
  .conA p {font-size: 24px;}
}

/*푸터*/
footer {
  color: #fff;
  color: var(--text-bright-color);
  background-color: #031E40;
  background-color: var(--dark-color);
}
footer .container {
  padding: 40px 20px;
}
@media (min-width: 768px) {
  footer .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }
  .footA {flex: 0 0 40%}
  .footB {flex: 0 0 60%}
  .footC {flex: 0 0 100%}
}
/*푸터A: 사이트 정보*/
.footA {
  margin-bottom: 30px;
}
.footA h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Saira Stencil One', cursive;
  font-size: 30px;
  letter-spacing: 0.2em;
}
.footA p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}
.footA img {
  margin-right: 0.3em;
  height: 30px;
  width: 30px;
}
/*푸터B: 푸터메뉴*/
.footB div {
  margin-bottom: 20px;
}
.footB h3 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: solid 1px currentColor;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}
.footB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footB a {
  display: block;
  padding: 5px;
  color: inherit;
  font-size: 12px;
  font-family: 'Noto Sans KR';
  text-decoration: none;
}
.footB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
@media (min-width: 768px) {
  .footB {display: flex;}
  .footB div {flex: 1;}
  .footB div:not(:first-child) {margin-left: 40px;}
}

/*푸터C:저작권*/
.footC {
  font-size: 12px;
  text-align: center;
  font-family: 'Saira Stencil One', cursive;
}

/*푸터D:SNS메뉴*/
.footD {
  margin-top: 20px;
}
.footD ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footD a {
  margin-right: 8px;
  display: block;
  padding: 0;
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  border: solid 1px currentColor;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
}
.footD a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/*헤더*/
header {
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.nohero header {
  position: static;
  border-bottom: solid 1px #ddd;
}
/*헤더A:사이트 이름*/
.headA {
  display: inline-block;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #031E40;
  color: #fff;
  font-family:'Saira Stencil One', cursive;
  font-size: 20px;
  text-decoration: none;
}
/* 헤더B:메뉴*/
.headB li ul {
background: #AFBCCC;
display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width: 150px;
z-index:200;
}
.headB li:hover ul {
display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}
.headB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.headB a {
  display: block;
  padding: 14px;
  color: inherit;
  font-size: 15px;
  font-family: 'Noto Sans KR';
  text-decoration: none;
}
.headB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

@media (min-width:768px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .headB ul {display:flex;}
}
/*헤더C:토글버튼*/
@media (max-width:767px) {
  header .container-small {
    /*작은 화면 전용설정*/
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headC {
    margin-right: 10px;
    padding: 0;
    border:none;
    outline:none;
    background: none;
    font-size: 28px;
    opacity: 0.5;
    cursor:pointer;
  }
  .headC:hover {
    opacity:0.3;
  }
  .headB {
    display: none;
  }
}

@media (min-width:768px) {
  .headC{
    /*큰 화면 전용설정*/
    display: none;
  }
  .headB {
    display: block !important;
  }
}
/*소개 페이지 : 빵 부스러기 리스트*/
.bread ol {
  list-style: none;
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.bread a {
  display: block;
  padding: 5px;
  color: inherit;
  font-size: 0.875rem;
  font-family: 'Noto Sans KR';
  text-decoration: none;
}
.bread a::after {
  margin-left: 10px;
  content: '\f105';
  font-family: 'FontAwesome';
  opacity: 0.3;
}
.bread a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/*소개 페이지 : 기사*/
.post .container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
.post h1 {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  border-left: solid 0.6rem #66160E;
}
.post h2 {
  font-size: 1.5rem;
  margin-top: 50px;
  padding-left: 0.5rem;
  border-left: solid 0.6rem #66160E;
}
.post p {font-size: 0.8rem; line-height: 2;}
.post img {max-width: 100%;}
/*소개 페이지 : 기사*/

.btn {
  display: inline-block;
  margin: 20px 0px auto;
  letter-spacing: 0.3em;
  padding: 10px 20px;
  border: solid 0.5px #fff;
  background-color: #B35B52;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  width: 60px;
  text-align: center;
}
.btn:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
}
.table-striped th, td{
  width: 800px;
}
.table-striped th {
  background-color: #eeeeee; text-align: center;
}

@media (max-width: 767px) {
  .table-striped th, td{
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
table, th, td {border:1px solid #000; border-collapse:collapse; padding:5px; justify-content: center;}
